body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-image: url(./images/csk2.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
h1{
    color: #c6d649;
    font-weight: 600;
}
section {
    padding: 25px 0px;
    text-align: center;
    width: 100%;
    max-width: 800px;
}
.mahi1{
    display: flex;
    animation: scrollanim 15s linear infinite;
    width: max-content;
}
.mahi1 img{
    height: 220px;
    width: 110px;
    border: 2px solid #3e3e3e;
    margin-right: 20px;
}
@keyframes scrollanim {
    0% {
        transform: translateX(100vw);
    }
    100% {
        transform: translateX(-100%);
    }
}
.hscroll{
    overflow-x: hidden;
    width:100%;
}
/* @media screen  and (max-width:310px){
    h1{
        font-size: 18px;
        text-align: center;
    }
    img{
        height: 100vh;
    }
} */

.mahi2{
    color: #ddd;
    text-align: justify;
    padding: 0px;
    margin: 0px;
}
.mahi2 p{
    color: #a7c5d0;
    font-weight: 600;
}
video{
    height: 100px;
    width: 400px;
}
footer{
    background-color: #3e3e3e;
    padding: 20px;
    color: #bdd1d8;
    text-align: center;
}